[project]
	description = "This is for project #1 in Object Oriented Design."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sunwoo (Jennifer) Ha (sunwooha)
[access "refs/for/refs/*"]
	read = group user/Sunwoo (Jennifer) Ha (sunwooha)
	push = group user/Sunwoo (Jennifer) Ha (sunwooha)
	label-Code-Review = -2..+2 group user/Sunwoo (Jennifer) Ha (sunwooha)
	label-Verified = -1..+1 group user/Sunwoo (Jennifer) Ha (sunwooha)
	rebase = group user/Sunwoo (Jennifer) Ha (sunwooha)
	removeReviewer = group user/Sunwoo (Jennifer) Ha (sunwooha)
	submit = group user/Sunwoo (Jennifer) Ha (sunwooha)
[access "refs/heads/*"]
	read = group user/Sunwoo (Jennifer) Ha (sunwooha)
	create = group user/Sunwoo (Jennifer) Ha (sunwooha)
	push = +force group user/Sunwoo (Jennifer) Ha (sunwooha)
	pushMerge = group user/Sunwoo (Jennifer) Ha (sunwooha)
[access "refs/tags/*"]
	push = group user/Sunwoo (Jennifer) Ha (sunwooha)
	push = +force group user/Sunwoo (Jennifer) Ha (sunwooha)
